<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-hdok4U2AHD2BSKzhL24m0pXfIZdyKDk</string>
	<key>GCM_SENDER_ID</key>
	<string>860841586871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yogaspatotrinh.ezs</string>
	<key>PROJECT_ID</key>
	<string>yoga-to-trinh</string>
	<key>STORAGE_BUCKET</key>
	<string>yoga-to-trinh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860841586871:ios:67f538b32211cc8d6bdd32</string>
	<key>DATABASE_URL</key>
	<string>https://yoga-to-trinh-default-rtdb.firebaseio.com</string>
</dict>
</plist>